﻿{% extends "layout.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <hr />
            {% bootstrap_form form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </form>
    </div>
</div>

{% if result %}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">执行结果</div>
        <div class="panel-body">
            {{ result }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
