{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>活动中心</h1>
		</div>
        <div>
            <h2>当前活动组</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>名字</strong></td>
                <td><strong>创建时间</strong></td> 
                <td><strong>是节日活动?</strong></td>
                <td><strong>节日祝福图标名</strong></td> 
                <td><strong>节日祝福描述</strong></td> 
                <td><strong>节日卡片图标名</strong></td> 
                <td><strong>节日卡片描述</strong></td>  
                <td><strong>操作</strong></td>  
                <td><strong>操作</strong></td>  
                <td><strong>操作</strong></td> 
                <td><strong>操作</strong></td>  
            </tr>  
            {% for line in line %}  
                <tr> 
                    <td>{{ line.name }}</td>
                    <td>{{ line.create_time|date:"Y-m-d H:i"  }}</td>
                    <td>{{ line.isjieri }}</td>
                    <td>{{ line.item_name1 }}</td>
                    <td>{{ line.item_des1 }}</td>
                    <td>{{ line.item_name2 }}</td>
                    <td>{{ line.item_des2 }}</td>
                    <td><a href="{% url 'engine.manage.activity_modify' line.id %}">添加</a></td>
                    <td><a href="{% url 'engine.manage.activity_sync' line.id %}">同步</a></td>
                    <td><a href="{% url 'engine.manage.activity_group_delete' line.id %}">删除</a></td>
                    <td><a href="{% url 'engine.manage.activity_group_modify_name' line.id %}">修改名字</a></td>
                </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
        <div>
            <h2>创建活动组</h2>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="创建" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
