{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
    <div>
    <a href="{% url 'engine.manage.activity_group' %}"><<<< 返回上一页</a>
    </div>
	<div>
		<div>
			<h1>活动管理</h1>
		</div>
        <div>
            <h2>当前活动</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>
                <td><strong>活动id</strong></td>
                <td><strong>活动类型</strong></td>    
                <td><strong>活动名字</strong></td>
                <td><strong>最小等级</strong></td>
                <td><strong>最大等级</strong></td>
                <td><strong>第几天开始</strong></td>
                <td><strong>第几天结束</strong></td>
                <td><strong>创建角色第几天后开始</strong></td>
                <td><strong>操作</strong></td>
                <td><strong>操作</strong></td>
                <td><strong>操作</strong></td>
                <td><strong>操作</strong></td>     
            </tr>  
            {% for line in line %}  
                <tr> 
                    <td>{{ line.aid }}</td> 
                    <td>{{ line.name }}</td>
                    <td>{{ line.huodong_name }}</td>
                    <td>{{ line.kaifu_start }}</td>
                    <td>{{ line.kaifu_end }}</td>
                    <td>{{ line.start_show_day }}</td>
                    <td>{{ line.end_show_day }}</td>
                    <td>{{ line.kaikai_start }}</td>
                    {% ifequal line.type 1 %}<td><a href="{% url 'engine.manage.activity_reward_czfl' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 2 %}<td><a href="{% url 'engine.manage.activity_reward_hyhd' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 3 %}<td><a href="{% url 'engine.manage.activity_reward_dbcz' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 4 %}<td><a href="{% url 'engine.manage.activity_reward_dlsl' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 5 %}<td><a href="{% url 'engine.manage.activity_reward_zkfs' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 6 %}<td><a href="{% url 'engine.manage.activity_reward_djdh' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 7 %}<td><a href="{% url 'engine.manage.activity_reward_rqdl' line.id %}">添加奖励</a></td> {% endifequal %}
                    {% ifequal line.type 8 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 9 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 10 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 11 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 12 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 13 %}<td>无</td> {% endifequal %}
                    {% ifequal line.type 14 %}<td><a href="{% url 'engine.manage.activity_reward_zchd' line.id %}">添加奖励</a></td> {% endifequal %}
                    <td><a href="{% url 'engine.manage.activity_delete' line.id %}">删除</a></td>
                    <td><a href="{% url 'engine.manage.activity_modify_modify' line.id %}">修改</a></td>
                    <td><a href="{% url 'engine.manage.activity_copy' line.id %}">拷贝</a></td>
                </tr>  
            {% endfor %}  
        </table>
        <div>
            <h2>创建活动</h2>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="创建" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
