{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
    <div>
    <a href="{% url 'engine.manage.activity_group' %}"><<<< 返回上一页</a>
    </div>
	<div>
        <div>
            <h2>修改名字</h2>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="提交" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
