{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    {% include "form.html" %}
    <div>
        <div>
            <h1>活动管理</h1>
        </div>
        <div>
            <h2>同步历史</h2>
        </div>
         <table class="table table-striped table-hover">
            <tr>
                <td><strong>同步信息</strong></td>
                <td><strong>活动开始时间</strong></td>
                <td><strong>活动结束时间</strong></td>
                <td><strong>同步时间</strong></td>
            </tr>
            {% for line in line %}
                <tr>
                    <td>{{ line.sync_infos }}</td>
                    <td>{{ line.start_time|date:"Y-m-d H:i" }}</td>
                    <td>{{ line.end_time|date:"Y-m-d H:i" }}</td>
                    <td>{{ line.synctime|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ line|pagination }}
        <div>
            <h2>同步活动</h2>
        </div>
        <div class="well">
            <form name="main" class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div>
                    <button type="button" id='choseAll' class="btn btn-primary" onclick="caf()">全选</button>
                    <input type="button" name ="tijiao" value="同步" class="btn btn-primary" onclick="mask();"/>
                </div>
                {% if form.suc %}
                <script>
                    alert("同步成功");
                </script>
                {% endif %}
            </form>
            <script>
                function caf(){
                    $(".controls label input").prop("checked",true)
                }
            </script>
        </div> 
    </div>
</body>
</html>
