{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
        <div>
            <div>你好,{{ username }}</div>
			<div><a href="{% url 'logout' %}">退出</a></div>
			<h1>道具查看</h1>
		</div>
		<div class="well">
        <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>道具</strong></td>
            </tr>  
            {% for item in form.items %} 
                <tr> 
                    <td name ="libao_reward">{{ item }}</td>
                </tr>  
            {% endfor %}  
        </table>
		</div>
	</div>
</body>
</html>
