{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
            <div>你好,{{ username }}</div>
			<div><a href="{% url 'logout' %}">退出</a></div>
			<h1>删除礼包</h1>
		</div>
		<div class="well">
			<form name="main" class="form-horizontal" action="{% url "dlibao" %}" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" value="删除" onclick="mask();"/>
				</div>
			</form>
            {% if form.suc %}
                <script>
                    alert("删除成功");
                </script>
            {% endif %}
		</div>
	</div>
</body>
</html>
