<script language="javascript" type="text/javascript">
function mask() {
    if (confirm("你确认要提交吗？"))
    {
        document.getElementById("bg").style.display = "block";
        document.getElementById("show").style.display = "block";
        document.main.submit();
        return true;
    }
    return false;
}
</script>

<style type="text/css">
    #bg{ display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70);}
    #show{display: none; position: absolute; top: 30%; left: 30%; width: 40%; height: 40%; padding: 8px; border: 8px solid #E8E9F7; background-color: white; z-index:1002; overflow: auto;}
</style>

<div id="bg"></div>
<div id="show">执行中，请不要刷新页面</div>

<div>
    <a href="/"><<<< 返回首页</a>
</div>
