{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>活动管理</h1>
		</div>
        <div>
            <h2>当前活动平台</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>活动平台</strong></td>  
                <td><strong>活动目录</strong></td>  
                <td><strong>操作</strong></td>  
            </tr>  
            {% for line in line %}  
                <tr>  
                    <td>{{ line.name }}</td>
                    <td>{{ line.huodong_object }}</td>  
                    <td><a href="{% url 'engine.manage.huodong' line.id %}">查看</a></td>
                </tr>  
            {% endfor %}  
        </table>
        <div>
            <h2>创建活动平台</h2>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="创建" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
