{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>活动管理</h1>
		</div>
         <div class="well-sm">
            <p>说明：
                    1.当前活动列表显示所有创建的活动，活动状态分为进行中，未开始和已过期。
                    2.活动列表中的活动可以关闭。过期活动可以安全删除（你可以确认游戏服务器中相应活动是否已关闭，再删除）进行中的活动最好不要关闭，一旦你确认要关闭并且进行同步，则该活动会结束。
                    3.通过创建活动中的提交按钮来创建新的活动。创建相同类型的活动，它们的版本号将会不同。不同的版本号就是不同的活动，注意同时只能创建一个进行中的活动，但可以创建多个未开始活动。
                    4.通过创建活动中的同步按钮来同步所做改动（创建和删除)。所有创建和删除的活动，所做的改动，如果不同步，则不会同步到游戏服务器。同步时当前活动列表中所有未过期的
                      活动都会同步到服务器,进行中的活动将会开启，未开始的活动将等待开启，已过期和删除的活动将会关闭。过期的活动关闭的话，可以不用马上同步，游戏服务器自动会将过期的活动删除。
                    5.游戏服务器同步到活动，会有一定的延时
             </p>
        </div>
        <div>
            <h2>当前活动</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>活动类型</strong></td>  
                <td><strong>活动版本号</strong></td>  
                <td><strong>活动开始时间</strong></td>  
                <td><strong>活动结束时间</strong></td>
                <td><strong>活动状态</strong></td> 
                <td><strong>活动创建时间</strong></td>
                <td><strong>操作</strong></td>  
            </tr>  
            {% for line in line %}  
                <tr>  
                    <td>{{ line.name }}</td>
                    <td>{{ line.hid }}</td>  
                    <td>{{ line.start_time|date:"Y-m-d H:i" }}</td>  
                    <td>{{ line.end_time|date:"Y-m-d H:i"  }}</td> 
                    {% ifequal line.hstate 0 %}<td>进行中</td> {% endifequal %}
                    {% ifequal line.hstate 1 %}<td>未开始</td> {% endifequal %}  
                    {% ifequal line.hstate 2 %}<td>已过期</td> {% endifequal %}    
                    <td>{{ line.create_time|date:"Y-m-d H:i"  }}</td>
                    <td><a href="{% url 'engine.manage.dhuodong' line.id %}">关闭</a></td>
                </tr>  
            {% endfor %}  
        </table> 
        <div>
            <h2>创建活动</h2>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="submit" name ="tijiao" value="创建" class="btn btn-primary" onclick="mask();"/>
                    <script type="text/javascript">
                            function sync() {
                                if (confirm("你确认要同步吗？"))
                                {
                                    document.getElementById("bg").style.display = "block";
                                    document.getElementById("show").style.display = "block";
                                    url = window.location.href;
                                    url = url.substring(url.lastIndexOf('/') - 1, url.lastIndexOf('/'));
                                    window.location.href = "/manage/shuodong/" + url + "/";
                                    
                                }
                            }
                    </script>
                    <input type="button" name ="tongbu"  value="同步" class="btn btn-success" onclick="sync();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div>
	</div>
</body>
</html>
