{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
		<div>
            <div>你好,{{ username }}</div>
			<div><a href="{% url 'logout' %}">退出</a></div>
			<h1>修改数据</h1>
		</div>
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
                <div class="control-group required">
					<label class="control-label">修改类型</label>
                    <div class="controls">
                        <select id="id_reward1_1" name="reward1_1">
                            <option value="1">资源</option>
                            <option value="2">物品</option>
                            <option value="500">太空漫游积分</option>
                            <option value="600">月卡基金</option>
                        </select>
                        <select id="id_reward1_2" name="reward1_2">
                        </select>
                        <input id="id_reward1_3" name="reward1_3" type="text"/>
                    </div>
				</div>
				<div>
					<input type="button" value="执行" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("操作成功");
                </script>
                {% endif %}
			</form>
		</div>
	</div>
</body>
</html>
