﻿{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="确定" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("查询成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
            <table class="table table-striped table-hover">  
            <tr>
                <td><strong>等级</strong></td>  
                <td><strong>总数量</strong></td>
                <td><strong>7日未登陆数量</strong></td>
                <td><strong>14日未登陆数量</strong></td>
                <td><strong>30日未登陆数量</strong></td>
                <td><strong>付费人数</strong></td> 
                <td><strong>付费金额</strong></td>  
            </tr>  
            {% for line in line %}  
                <tr>
                    <td>{{ line.lev }}</td>
                    <td>{{ line.sum }}</td>
                    <td>{{ line.seven }}</td>
                    <td>{{ line.fourt }}</td>
                    <td>{{ line.thirty }}</td>
                    <td>{{ line.r_num }}</td> 
                    <td>{{ line.r_sum }}</td>   
                </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
		</div> 
	</div>
</body>
</html>
