﻿{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/mail.js?10" type="text/javascript"></script>
     <script src="/static/js/libao.js?10" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
                {% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="确定" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("查询成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
            <table class="table table-striped table-hover">  
            <tr>
                <td><strong>账号</strong></td>
                <td><strong>角色名</strong></td>
                <td><strong>等级</strong></td>
                <td><strong>账号</strong></td>
                <td><strong>角色名</strong></td>
                <td><strong>充值金额</strong></td>  
            </tr>  
            {% for line in line %}  
                <tr> 
                    <td>{{ line.usname }}</td>
                    <td>{{ line.name }}</td>  
                    <td>{{ line.lev }}</td>
                    <td>{{ line.usname1 }}</td>
                    <td>{{ line.name1 }}</td>
                    <td>{{ line.total }}</td>
                </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
		</div> 
	</div>
</body>
</html>