{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>服务器充值情况</h1>
		</div>
        <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>服务器名字</strong></td>  
                <td><strong>服务器id</strong></td>
                <td><strong>充值金额</strong></td>    
                <td><strong>充值次数</strong></td>  
                <td><strong>充值人数</strong></td>
            </tr>  
            {% for line in lines %}  
                <tr>   
                    <td>{{ line.server_name }}</td>
                    <td>{{ line.server_id }}</td>
                    <td>{{ line.total_charge }}</td>
                    <td>{{ line.total_count }}</td>   
                    <td>{{ line.total_player }}</td> 
                </tr>  
            {% endfor %}  
        </table>
        
        {{ lines|pagination }} 
	</div>
</body>
</html>
