{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
    <script src="/static/js/jqPaginator.js" type="text/javascript"></script>
	{% include "form.html" %}
	<div>
		<div>
            <div>你好,{{ username }}</div>
			<div><a href="{% url 'logout' %}">退出</a></div>
			<h1>服务器查询</h1>
		</div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>名字</th>
                    <th>人数</th>
                    <th>收入</th>
                    <th>活跃</th>
                </tr>
            </thead>
            <tbody>
            {% for ser in items.sers %}
                <tr>
                    <td>{{ ser.name }}</td>
                    <td>{{ ser.num }}</td>
                    <td>{{ ser.recharge }}</td>
                    <td>{{ ser.huoyue }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination" id="pagination1"></ul>
        <script type="text/javascript">
            $.jqPaginator('#pagination1', {
                totalPages: {{ items.total }},
                visiblePages: 10,
                currentPage: {{ items.index }},
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">末页</a></li>',
                page: '<li class="page"><a href="javascript:;">@@page@@</a></li>',
                onPageChange: function (num, type) {
                    if (type != "init")
                    {
                        window.location.href="/manage/serverlook?index=" + num;
                    }
                }
            });

            function open_url(url){
                var orgtreewin = window.open(url,""); 
                orgtreewin.focus();
            }
        </script>
	</div>
</body>
</html>
