{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>服务器时间</h1>
		</div>
        <div>
            <h2>当前服务器时间线</h2>
        </div>
         <table class="table table-striped table-hover">
            <tr>  
                <td><strong>服务器开服时间</strong></td>
                <td><strong>服务器地址</strong></td>
                <td><strong>服务器内网地址</strong></td>
                <td><strong>服务器ID</strong></td>
                <td><strong>服务器名字</strong></td>
                <td><strong>服务器后台名字</strong></td>
                <td><strong>服务器位置</strong></td>
                <td><strong>服务器版本</strong></td>
                <td><strong>服务器平台</strong></td>
                <td><strong>服务器渠道</strong></td>
                <td><strong>是否已同步</strong></td>
                <td><strong>同步情况</strong></td>
                <td><strong>操作</strong></td>
                <td><strong>修改</strong></td>
                <td><strong>删除</strong></td>
            </tr>
            {% for line in line %}    
            <tr> 
                <td>{{ line.opentime|date:"Y-m-d H:i"  }}</td>
                <td>{{ line.host  }}</td>
                <td>{{ line.hostip }}</td>
                <td>{{ line.serverid  }}</td>
                <td>{{ line.servername  }}</td>
                <td>{{ line.houtai_name  }}</td>
                <td>{{ line.site }}</td>
                <td>{{ line.version  }}</td>
                <td>{{ line.pt  }}</td>
                <td>{{ line.channel  }}</td>
                <td>{{ line.sync  }}</td>
                <td>{{ line.sync_error  }}</td>
                {% ifequal line.openstat 0 %}<td><a href="{% url 'engine.manage.server_open_time_deploy' line.id %}" onclick="return mask();">部署</a></td> {% endifequal %}
                {% ifequal line.openstat 1 %}<td>正在部署,请稍等</td> {% endifequal %}
                {% ifequal line.openstat 2 %}<td><a href="{% url 'engine.manage.server_open_time_deploy' line.id %}" onclick="return mask();">开服</a></td> {% endifequal %}
                {% ifequal line.openstat 3 %}<td>正在开服,请稍等</td> {% endifequal %}
                {% ifequal line.openstat 4 %}<td>已开服</td> {% endifequal %}
                <td><a href="{% url 'engine.manage.server_open_time_modify_time' line.id %}">修改</a></td>
                <td><a href="{% url 'engine.manage.server_open_time_delete' line.id %}" onclick="return mask();">删除</a></td>
            </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
        <div>
            <h2>创建服务器</h2>
            <h3>剩余可开服务器: <span style="color:#ff0000">{{ count }}</span></h3>
        </div> 
		<div class="well">
			<form name="main" class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{{ form|as_bootstrap }}
				<div>
					<input type="button" name ="tijiao" value="创建" class="btn btn-primary" onclick="mask();"/>
				</div>
                {% if form.suc %}
                <script>
                    alert("创建成功");
                </script>
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                <script>
                    alert("{{ message }}");
                </script>
                {% endfor %}
                {% endif %}
			</form>
		</div> 
	</div>
</body>
</html>
