﻿{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>统计</h1>
		</div>
        <div>
            <h2>留存统计</h2>
        </div>
         <table class="table table-striped table-hover">  
            <tr>
                <td><strong>日期</strong></td>
                <td><strong>注册用户</strong></td>  
                <td><strong>次日留存</strong></td>
                <td><strong>次日LTV</strong></td>
                <td><strong>3日留存</strong></td>
                <td><strong>3日LTV</strong></td>
                <td><strong>4日留存</strong></td>
                <td><strong>4日LTV</strong></td>
                <td><strong>5日留存</strong></td>
                <td><strong>5日LTV</strong></td>
                <td><strong>6日留存</strong></td>
                <td><strong>6日LTV</strong></td>
                <td><strong>7日留存</strong></td>
                <td><strong>7日LTV</strong></td>
                <td><strong>15日留存</strong></td>
                <td><strong>15日LTV</strong></td>
                <td><strong>30日留存</strong></td>
                <td><strong>30日LTV</strong></td>
            </tr>  
            {% for line in line %}  
                <tr> 
                    <td>{{ line.dt|date:"Y-m-d" }}</td>
                    <td>{%  widthratio line.total_num 100 20 %}</td> 
                    <td>{{ line.liucun_2rate }}</td>
                    <td>{%  widthratio line.liucun_2ltv 100 20 %}</td>
                    <td>{{ line.liucun_3rate }}</td>
                    <td>{%  widthratio line.liucun_3ltv 100 20 %}</td>
                    <td>{{ line.liucun_4rate }}</td>
                    <td>{%  widthratio line.liucun_4ltv 100 20 %}</td>
                    <td>{{ line.liucun_5rate }}</td>
                    <td>{%  widthratio line.liucun_5ltv 100 20 %}</td>
                    <td>{{ line.liucun_6rate }}</td>
                    <td>{%  widthratio line.liucun_6ltv 100 20 %}</td>
                    <td>{{ line.liucun_7rate }}</td>
                    <td>{%  widthratio line.liucun_7ltv 100 20 %}</td>
                    <td>{{ line.liucun_15rate }}</td>
                    <td>{%  widthratio line.liucun_15ltv 100 20 %}</td>
                    <td>{{ line.liucun_30rate }}</td>
                    <td>{%  widthratio line.liucun_30ltv 100 20 %}</td>
                </tr>  
            {% endfor %}  
        </table>
        {{ line|pagination }} 
	</div>
</body>
</html>
