{% include "include.html" %}
{% load bootstrap_toolkit %}
<body>
	{% include "form.html" %}
	<div>
		<div>
			<h1>服务器总充值</h1>
		</div>
        <table class="table table-striped table-hover">  
            <tr>  
                <td><strong>日期</strong></td>  
                <td><strong>充值金额</strong></td>  
                <td><strong>充值次数</strong></td>  
                <td><strong>充值人数</strong></td>
                <td><strong>查看</strong></td>
            </tr>  
            {% for line in lines %}  
                <tr>   
                    <td>{{ line.date|date:"Y-m-d" }}</td>
                    <td>{{ line.total_charge }}</td>
                    <td>{{ line.total_count }}</td>   
                    <td>{{ line.total_player }}</td>
                    <td><a href="{% url 'engine.manage.recharge_server_statistic' line.id %}">详情</a></td> 
                </tr>  
            {% endfor %}  
        </table>
        
        {{ lines|pagination }} 
	</div>
</body>
</html>
